<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.contreras.myquizapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name="com.contreras.myquizapplication.Resultados.TimeOutBadActivity" />
        <activity android:name="com.contreras.myquizapplication.Resultados.BadActivity" />
        <activity android:name="com.contreras.myquizapplication.Resultados.GoodActivity" />
        <activity android:name="com.contreras.myquizapplication.Resultados.TimeOutGoodActivity" />
        <activity android:name="com.contreras.myquizapplication.View.RankingActivity" />
        <activity android:name="com.contreras.myquizapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.contreras.myquizapplication.View.RegistrarActivity" />
        <activity android:name="com.contreras.myquizapplication.View.LoginActivity" />
        <activity android:name="com.contreras.myquizapplication.View.QuizActivity" />
        <activity android:name="com.contreras.myquizapplication.View.JugarActivity" />
        <activity android:name="com.contreras.myquizapplication.View.HomeActivity" />
    </application>

</manifest>